.genel{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.header{
  border: 1px solid #ddd;
  width: 1200px;
  margin-top: 20px;
  height: 200px;
  background: darkgrey;
}
.header h2{
  position: relative;
  top: 90px;
  left: 50px;
  font-size: 32px;
  font-family: verdana;
}
.reklam {
  float: right;
  margin: 30px;
}
.menu{
  border: 1px solid #ddd;
  width: 1200px;
  background: darkgrey;
  margin-top: 20px;
  float: left;
}
.menu ul li{
  float: left;
}
.menu ul li a{
  display: block;
  padding: 15px;
  border: 1px solid #ddd;
  font-size: 20px;
  color: #000;
}
.menu ul li a:hover{
  background: #616161;
  transition: 0.5s;
}
.menu span{
  float: right;
  margin: 7px;
}
.menu span input{
  width: 250px;
  height: 25px;
  font-size: 18px;
  font-family: verdana;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.menu span button{
  border: 1px solid  #ddd;
  width: 80px;
  height: 25px;
  margin-left: 5px;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}
.content{
  width: 1200px;
  margin-top: 20px;
  min-height: 600px;
}
.sol{
  float: left;
  width: 700px;
  min-height: 350px;
}
.sag{
  float: left;
  margin-left: 100px;
  width: 400px;
  min-height: 200px;
}
.sol2{
  border: 1px solid #ddd;
  min-height: 300px;
  background: darkgrey;
  margin-bottom: 20px;
}
.sag2{
  border: 1px solid #ddd;
  min-height: 200px;
  background: darkgrey;
  margin-bottom: 20px;
}
.footer{
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
  background: darkgrey;
  font-size: 20px;
  font-family: verdana;
}
.sol2 h2{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 2px;
  font-size: 20px;
  font-family: verdana;
  background: 	#BDBDBD;
}
.bilgi{
  border: 1px solid #ddd;
  margin: 2px;
  padding: 5px;
  background: #eee;
  font-size: 18px;
}
.resim img{
  width: 200px;
  height: 150px;
  margin: 10px;
  float: left;
}
.sol2 p{
  margin: 12px;
  line-height: 1.5;
  font-family: arial,sans-serif;
}
.devam{
  float: right;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background: #E6E6FA;
  border-radius: 5px;
}
.devam a{
  color: #B22222;
}
.sag2 h2{
  padding: 10px;
  background: #2F4F4F;
  color: white;
  border: 1px solid #ddd;
  font-size: 20px;
  font-family: verdana;
}
.sag2 ul li input{
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
}
.sag2 ul li{
  margin: 5px 0px 0px 75px;
  font-size: 18px;
  font-weight: bold;
}
.sag2 ul li button{
  border: 1px solid #ddd;
  width: 100px;
  height: 27px;
  border-radius: 5px;
  background: #E6E6FA;
  color: #B22222;
  cursor: pointer;
}
.sag3{
  border: 1px solid #ddd;
  min-height: 200px;
  background: darkgrey;
  margin-bottom: 20px;
}
.sag3 h2{
  padding: 10px;
  background: #2F4F4F;
  color: white;
  border: 1px solid #ddd;
  font-size: 20px;
  font-family: verdana;
}
.sag3 span img{
  width: 150px;
  height: 150px;
  margin: 5px 5px 5px 120px;
}
.sag3 ul li{
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 18px;
  font-family: verdana;
}
.sag3 ul li:hover{
  background: lightyellow;
}
.sag2 h3{
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 18px;
}
.sol2 ul li{
  margin: 5px 0px 0px 20px;
  font-size: 18px;
  font-weight: bold;
}
.sol2 ul li input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: verdana;
}
.sol2 ul li textarea{
  width: 550px;
  height: 250px;
  border-radius: 10px;
  font-size: 20px;
}
.sol2 ul li button{
  border: 1px solid #ddd;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  background: #E6E6FA;
  color: #B22222;
  cursor: pointer;
  margin-bottom: 10px;
}
.sag3 h3 img{
  width: 50px;
  float: left;
  margin:
}
.sag3 h3{
  border: 1px solid #ddd;
  float: left;
  width: 395px;
  margin: 3px;
  font-size: 22px;
}
.sayfalama {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  background: lightgrey;
  width: 679px;
}
.sayfalama b{
  border: 1px solid #ddd;
  color: #B22222;
}
.sol2 p img {
  width: 600px;
  margin-left: 30px;
  padding: 5px;
  display: block;
}
.hata{
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 20px;
  background: lightyellow;
}
.basarili2{
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 20px;
  background: lightgreen;

}
.yorumlar{
  border: 1px solid #ddd;
  min-height: 100px;
  margin-bottom: 10px;
  background: white;
}
.yorumlar h2{
  border: 1px solid #ddd;
  padding: 7px;
  font-size: 18px;
  background: lightpink;
}
.yorumlar p{
  padding: 8px;
  margin: 5px;
  font-size: 19px;
}
.sag4{
  border: 1px solid #ddd;
  min-height: 200px;
  background: darkgrey;
  margin-bottom: 20px;
  float: left;
}
.sag4 h2{
  padding: 10px;
  background: #2F4F4F;
  color: white;
  border: 1px solid #ddd;
  font-size: 20px;
  font-family: verdana;
}
.sag4 span img{
  width: 150px;
  height: 150px;
  margin: 5px 5px 5px 120px;
}
.sag4 ul li{
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 18px;
  font-family: verdana;
}
.sag4 ul li:hover{
  background: lightyellow;
}
.sag4 h3 img{
  width: 50px;
  float: left;
  margin:
}
.sag4 h3{
  border: 1px solid #ddd;
  float: left;
  width: 395px;
  margin: 7px;
  font-size: 22px;
}
.aktif{
  border: 1px solid #ddd;
  padding: 7px;
  background: red;
  margin-right: 7px;
  border-radius: 15px;
}
.sayfa{
  border: 1px solid #ddd;
  padding: 7px;
  background: lightpink;
  margin-right: 7px;
  border-radius: 15px;
}
.sol2 select{
  border: 1px solid #ddd;
  width: 200px;
  height: 32px;
  font-size: 18px;
  font-family: verdana;
  margin-bottom: 5px;
}
.profil{
  border: 1px solid #ddd;
  background: #dedede;
}
.profil h2{
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 19px;
  font-weight: bold;
  background: darkgrey;
}
.profil ul li{
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 19px;
}
.mesaj{
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 20px;
  background: #2F4F4F;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}
.mesaj h2 span a{
  color: red;
}
.mesaj h2 span a:hover{
  color: lightpink;
}
.mesajlar ul li{
  border: 1px solid #dedede;
  padding: 10px;
  font-size: 18px;
  background: ;
  color: black;
}
.mesajlar ul li a{color: black;}
.mesaj_oku{
  border: 5px solid #ddd;
  min-height: 100px;
  background: white;
}
.mesaj_oku h2{
  border: 1px solid #dedede;
  background: #2F4F4F;
  color: white;
  padding: 10px;
  font-size: 20px;
}
.mesaj_oku p{
  padding: 10px;
  font-size: 17px;
  font-family: arial, sans-serif;
  line-height: 1.5;
}
.mesajlar2 ul li{
  border: 1px solid #dedede;
  padding: 10px;
  background: lightgrey;
  margin-bottom: 10px;
}
.mesajlar2 ul li a{color: black;}
.mesaj_oku p img{
  width: 300px;
  height: 200px;
  padding: 10px;
}
